body {
	font-family: 'Droid Sans', sans-serif;
	background-color: #def;
}

#wrapper {
	text-align: center;
}

#main {
	text-align: left;
	padding: 20px;
	margin-top: 5px;
	margin-bottom: 50px;
	width: 500px;
	border: 1px solid #aaa;
	border-radius: 10px;
	background-color: #fff;
	display: inline-block;
	vertical-align: top;
}

h1 {
	clear: both;
	margin-top: 40px;
	margin-bottom: 30px;
}

#newTodoItem {
	
}

#newTodoInput {
	width: 400px;
	padding: 5px;
}

#newTodoCreate {
	height: 35px;
}

#todoItems {	

	margin: 20px;

}

.todoItem {
	height: 60px;
}

.todoItem:hover .remove {
	display: inline-block;
}

.checkbox, .label, .edit, .remove {
	display: inline-block;
}

.label, .edit, .remove {
	padding: 0 5px;
	margin: auto 0;
}

.label {
	font-size: 28px;
	position: relative;
	display: inline-block;
}

.strikethrough:before {
	content: "";
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	height: 2px;
	background: #000;
}

.label:hover {
	background-color: #dde;
}

.remove {
	font-size: 16px;
	color: #888;
	text-decoration: underline;
	cursor: pointer;
	display: none;
	margin-left: 10px;
}

#viewAjax {
	float: right;
	margin-bottom: 10px;
	font-size: 14px;
}

#viewAjax label {
	position: relative;
	top: -2px;
}

#requestLogOutput {
	text-align: left;
	margin-top: 10px;
	width: 200px;
	word-wrap: break-word;
	display: inline-block;
	vertical-align: top;
	display: none;
}

.log {
	margin: 10px;
	margin-top: 5px;
	margin-bottom: 10px;
	border: 1px solid #aaa;
	border-radius: 5px;
	padding: 8px;
	background-color: #fff;
}

.log p {
	margin: 0;
}

.logHead {
	display: block;
	font-size: 13px;
}

.logLabel {
	font-weight: bold;
	color: #35a;
	display: block;
	font-size: 11px;
	margin-top: 5px;
	letter-spacing: 1px;
}

.logValue {
	font-weight: bold;
	font-size: 14px;
	display: block;
	margin-bottom: 8px;
}

.logMethod {
	font-size: 20px;
}
